<!DOCTYPE html>
<html>
<head>
<style media="screen" type="text/css">

h1 {text-align: center;
    vertical-align: middle;
    margin-top: 150px;
    }

p {text-align: center;
    vertical-align: middle;
    }

.text_area {text-align: center;
            vertical-align: middle;
            margin-left: 150px;
  }

</style>

</head>
<!-- say waht '@exercise' is -->
<% @exercise = Exercise.find(params[:id]) %>

<h1><%= @exercise.title %></h1>
<p><%= @exercise.instructions %></p>

  <%= form_for @answer do |f| %>
    <%= f.text_area(:body, {style: "width: 600px; height: 400px;"}) %>
    <%= f.hidden_field(:exercise_id, value: @exercise.id) %>
    <%= f.submit "Guardar" %>
  <% end %>
<% foo = Exercise.find(@exercise.id + 1) %>
<%#= link_to "Siguiente ejercicio", course_exercise_path(Course.first, foo )%>


  